<div class="container">
  <div class="row">
    <div class="col-lg border box-1 m-3 p-3">あいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいう</div>
    <div class="col-lg border box-2 m-3 p-3">い</div>
    <div class="col-lg border box-3 m-3 p-3">う</div>
  </div>
</div>
